<h2 mat-dialog-title>Employee Form</h2>
<mat-dialog-content class="mat-typography">
  <div class="example-container">
    <form [formGroup]="employeesGroup">
      <mat-form-field>
        <mat-label class="input">Quick Info</mat-label>
        <textarea
          formControlName="quickInfo"
          matInput
          placeholder="Ex. worked before at Google"
          value="quickInfo"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="input">Employee e-mail</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="example@mail.com"
          value="email"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label class="input">Position</mat-label>
        <input
          formControlName="position"
          matInput
          placeholder="manager"
          value="position"
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="saveEmployee()"
    [disabled]="!employeeChanges || employeesGroup.invalid"
  >
    Done
  </button>
</mat-dialog-actions>
