<mat-card-title class="login-card">
  <section>
    <h2>Choose User Profile</h2>

    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>admin_panel_settings</mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
        </div>
        <div class="button-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</mat-card-title>
